.item-prod{

    background-color: rgba(0, 0, 0, 0.952);
    border-radius: 10px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
img{

    width: 150px;
    border-radius: 10px;

}


.link-item{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}