header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
h1 {
  color: red;
  background-color: black;
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid red;
}
.link-logo {
  text-decoration: none;
}

li {
  display: inline-block;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
}
.navlink-li {
  text-decoration: none;
  color: black;
  padding: 8px;
  
}
.navlink-li:hover {
  color: red;
  background-color: rgba(0, 0, 0, 0.952);
  border-radius: 8px;
  border: 1px solid red;
}
.logo{
  width: 40px;
  margin-left: 10px;
}