.itemCountDiv {
  display: flex;
  padding: 1rem;
  margin-bottom: 0;
}
.itemCountDiv button {
  width: 20px;
  height: 20px;
  margin: 1rem;
  background-color: red;
  border-radius: 2px;
  cursor: pointer;
}
.btn-count {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  background-color: red;
}
